@media (min-width: 768px) {
  #hero > div > div > div.col-6.mx-auto.col-md-6.order-md-2.hero-media > img {
    height: 250px;
  }
}

@media (max-width: 768px) {
  #hero > div > div > div.col-6.mx-auto.col-md-6.order-md-2.hero-media > img {
    margin-top: 20px;
    height: 150px;
  }
}
